@import "settings";
@import "font-awesome";

$primary-color: #BCE3C5;
$secondary-color: #82B3AE;
$text-color: #230F2B;
$background-color: #EBEBBC;
$accent-color: #F21D41;
$button-background: #BCE3C5;

body {
  color: #230F2B;
  font-family: 'Marmelad', sans-serif;
  background-image: image-url('background1.jpg');
  min-height: 100vh;
  height: 100%;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.background {
  max-width: 100%;
}

a {
  color: #BCE3C5;
}

.nav {
   background-color: #82B3AE;
   padding-left: 20px;
   padding-right: 20px;
   color: $primary-color;
   font-size: 1.5em;
 }

.nav a {
  color: $text-color;
}

.auth a:hover {
  color: $background-color;
}

h1 {
  font-family: 'Fredericka the Great', serif;
  font-size: 3em;
}

h2 {
  font-family: 'Fredericka the Great', serif;
}

h3 {
  font-family: 'Fredericka the Great', serif;
}

h4 {
  font-family: 'Fredericka the Great', serif;
}

h5 {
  font-family: 'Fredericka the Great', serif;
}

input .button {
  color: $secondary-color;
}

.alert {
  font-size: .8em;
}

.pitch button {
  margin: 50px;
  padding: 50px;
  font-size: 1.2em;
}

.blurb {
  padding: 50px;
}

.link a {
  color: $text-color;
}

.link:hover {
  background-color: darken( $background-color, 10% );
}

.inventory {
  padding-right: 25px;
}

.moveformbutton {
  margin: 50px;
}

.submit {
  background-color: $accent-color;
}

label {
  font-size: .8em;
  color: darken( $secondary-color, 20% );
}

#origin-addr {
 display: block;
}

#origin-info {
  display: none;
}

#destination-addr {
  display: none;
}

#destination-info {
  display: none;
}

#last-step {
  display: none;
}

#moveformsubmit {
  display: none;
}

#moveformnext {
  display: inline;
}

#moveformback {
  display: none;
}

#last-step {
  display: none;
}

.progress {
  height: 10px;
}

#moveform-progress {
  width: 20%;
  height: 10px;
  background-color: $accent-color;
}

.help-text {
  color: $secondary-color;
}

.user-image {
  border-radius: 50%;
  max-width:100%;
  max-height:100%;
}

.card {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: $background-color;
  box-shadow: 5px 5px 5px;
  font-size: 1.5em;
  padding: 15px;
}

.round {
  border-radius: 999px;
}

.edit-button .button{
  margin: 0 0 0 0;
}

.avatar-select .card {
  border-style: none;
  background-color: white;
  box-shadow: 0 0 0;
  padding: 0px;
}

.user-panel {
  margin-bottom: 5em;
}

.side-panel {
  background-color: $background-color;
  padding: 1em;
  margin-top: 0;
}
